@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');

$primary-color: #205680;


body {
	font-family: sans-serif;
}
h1 {
	background: $primary-color;
	color: #FFF;
}
p {
	background: #EEE;
}

